@import "global.css";

.shop {
  margin: 50px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.shop-description {
  flex: auto;
  color: gray;
  font-style: oblique;
  line-height: 2em;
  max-width: 800px;
  text-align: center;
  margin: auto;
}

.shop-description h1 {
  color: black;
  font-style: normal;
  margin-bottom: 50px;
}

.shop-products-gallery {
  flex: auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  justify-content: space-around;
}
